header{
    padding:20px 0;
    transition: .2s ease-in-out;
    ul{
        display: flex;
        justify-content: flex-end;
        @include d(s){
          display: flex;
          flex-direction: column;
        }
    }
    li + li{
        margin-left: 30px;
        @include d(s){
          margin-left: 0;
        }
    }
    li a{
        cursor: pointer;
        color: $cor-primaria;
        font-weight: bold;
        &:hover{
            color: $cor-secundaria;
        }
    }
    nav{
        @include d(s){
            display: none;
        }
    }
    @include d(s){
      padding: 10px 0;
      box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.25);
      padding: 15px 0;
    }
}

header.fixed{
   // box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.25);
    @include box-shadow(5px 5px 15px 0px rgba(44,44,44,0.25) );
    padding: 15px 0;
    position: fixed;
    width: 100%;


}

header .container-grid{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.btn-menu {
    display: none;
    @include d(s){
        position: relative;
        display: block;
        cursor: pointer;
        width: 36px;
        height: 36px;
        bottom: 0;
        right:0;
        cursor: pointer;
    }
}
    
  .btn-left {
    background-color: $cor-primaria;
    position: absolute;
    height: 3px;
    width: 15px;
    top: 15px; /* 30*/
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:before {
    background-color: $cor-primaria;
    position: absolute;
    width: 15px;
    height: 3px;
    content: "";
    top: -10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:after {
    background-color: $cor-primaria;
    position: absolute;
    width: 15px;
    height: 3px;
    content: "";
    top: 10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .btn-right {
    background-color: $cor-primaria;
    position: absolute;
    height: 3px;
    width: 15px;
    top: 15px;
    left: 15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:before {
    background-color: $cor-primaria;
    position: absolute;
    width: 15px;
    height: 3px;
    content: "";
    top: -10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:after {
    background-color: $cor-primaria;
    position: absolute;
    width: 15px;
    height: 3px;
    content: "";
    top: 10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .btn-menu.active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .btn-menu.active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
  }
  .btn-menu.active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
  }
  .btn-menu.active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .btn-menu.active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
  }
  .btn-menu.active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
  }

  nav.active {
    @include d(s){
      padding-top: 10px;
      display: block;
      position: fixed;
      background: #fff;
      width: 200px;
      right: 0;
      z-index: 100;
      top: 58px;
      height: 100%;
    }
    li{
      @include d(s){
        margin: 10px 15px;
      }
    }
  }
