// Reset
*{padding: 0;margin: 0;font-family: $fonte-1;color: $cor-primaria;}
body{background: #fff;}
img{max-width: 100%;display: block;}
a{text-decoration: none;}
li{list-style: none;}
p,a, label, input, span{@include tipo-1(16);}
p{font-weight: 300;}
.container-grid, .container{
    @include d(m){
        padding: 0 20px;
    }
    @include d(s2){
      padding: 0 20px;
    }
}
.container-grid{
    @include d(s){
        padding: 0 10px;
    }
}

#home{
    position: relative;
    display: flex;
    height: 95vh;
    overflow: hidden;
   @include d(m){
       height: auto;
       padding: 80px 0;
   }
   @include d(s2){
        height: auto;
        padding: 60px 0;
    }
    @include d(s){
        height: auto;
        padding: 60px 0;
    }
    .wrapper{
        align-self: center;
        width: 100%;
    }
    .photo{
        display: grid;
        justify-items: center;
        
        @include d(s){
            order: 1;
        }
        
    }
    .container{
        @include d(s){
            display: grid;
            justify-content: center;
        }
    }
    .grid-6:first-child{
        @include d(s2){
            width: 70%;
        }
        @include d(m){
            width: 60%;
        }
    }
    .grid-6:last-child{
        @include d(s2){
            width: 30%;
        }
        @include d(m){
            width: 25%;
        }
    }
    .photo img {
        max-width: 400px;
        z-index: 5;
        @include d(l){
            max-width: 60%;
        }
        @include d(m){
            max-width: 100%;
        }
        @include d(s2){
            max-width: 100%;
        }
        @include d(s){
            max-width: 50%;
        }
        
    }
    .descri{
        z-index: 3;
        display: grid;
        align-self: center;
        color: $cor-primaria;
        span{
            color: #fff;
            background: $cor-secundaria;
            font-size: 14px;
            width: 130px;
            line-height: 24px;
            padding: 8px 20px;
            border-radius: 20px 20px 0 20px;
            @include d(s){
                justify-self: flex-start;
                margin-left: 60px;
            }
        }
        h2{
            @include tipo-1(56);
            margin-top: 10px;
            @include d(s){
                @include tipo-1(48);
            }
        }
        h3{
            @include tipo-1(22);
            font-weight: 500;
            margin-bottom: 10px;
        }
        .mail{
            font-weight: 400;
            display: inline;
        }
        .mail img{float: left;margin-right: 2px;width: 31px;}
        .social-icons{
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(4, 40px);
            gap: 20px;
            @include d(s){
                margin-top: 30px;
            }
        }
        .social-icons img{
            max-width: 32px;
            @include d(s){
                max-width: 25px;
            }
        }
        
        @include d(s){
            margin-top: 30px;
            order: 2;
            justify-items: center;
        }


    }
    svg{
        position: absolute;
        bottom: 0;
    }
    .bg-intro{
        position: absolute;
        @include d(s){
            display: none;
        }
    }
}

.title{
    @include title(36);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 30px;
    &::after{
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        text-align: center;
        margin: 10px  auto 0 auto;
        background: $cor-secundaria;
    }
}

#sobre{
   .sobre{
    padding: 80px 0;
    .container{
        @include d(s2){
           display: flex;
        }
    }
    .grid-6{
        @include d(s){
            display: grid;
            justify-items: center;
        }
    }
    .grid-6:first-child{
        @include d(s2){
            width: 40%;
        }
        img{
            max-width: 75%;
            @include d(s){
                max-width: 100%;
            }
            @include d(s2){
                max-width: 100%;
            }
        }
    }
    .grid-6:last-child{
        @include d(s2){
            width: 60%;
        }
    }
    p{
        margin-bottom: 20px;
    }
    span{
        font-weight: 300;
        @include tipo-1(14);
        color: $cor-primaria;
        border: 1px solid $cor-secundaria;
        padding: 3px 5px;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
 
    button{
        border: none;
        border-radius: 25px;
        background: $cor-secundaria;
        padding: 12px 20px;
        @include tipo-1(16);
        cursor: pointer;
        color: #fff;
        margin-top: 80px;
        transition: .3s linear;
        // &:after{
        //     content: url(../../img/flecha.png);
        //     margin-left: 5px;
        // }
        &:hover{
            background: $cor-primaria;
        }

    }
   }

   .services{
         background-color: lighten(#C4C4C4, 12%); 
        .container-grid{
            padding: 60px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
        }
        
         &:before{
             content: '';
             display: block;
             margin: 0 auto;
             width: 40px;
             height: 40px;
             border-top: 40px solid #fff;
             border-left: 40px solid transparent;
             border-right: 40px solid transparent;

         }
        .title{
            text-align: center;
            grid-column: 1/3;
        }
        .item{
            background: #fff;
            padding: 40px;
        }
        h2{font-weight: 500;}

    }
}





