// Reset
*{padding: 0;margin: 0;font-family: $fonte-1;color: $cor-primaria;}
img{max-width: 100%;display: block;}
a{text-decoration: none;}
li{list-style: none;}
p,a, label, input, span{@include tipo-1(16);}
p{font-weight: 300;}
.container-grid, .container{
    @include d(m){
        padding: 0 20px;
    }
   
    @include d(s){
      max-width: 90%;
    }
    @include d(s2){
      padding: 0 20px;
    }
}

#home{
    position: relative;
    overflow: hidden; 
    display: flex;
    height: 90vh;
   @include d(m){
       height: auto;
       padding: 80px 0;
   }
   @include d(s2){
        height: auto;
        padding: 60px 0;
    }
    @include d(s){
        height: auto;
        padding: 60px 0;
    }
    .wrapper{
        align-self: center;
        width: 100%;
    }
    .photo{
        display: grid;
        justify-items: center;
        
        @include d(s){
            order: 1;
        }
    }
    .container{
        @include d(s){
            display: grid;
            justify-content: center;
        }
    }
    .grid-6:first-child{
        @include d(s2){
            width: 70%;
        }
        @include d(m){
            width: 60%;
        }
    }
    .grid-6:last-child{
        @include d(s2){
            width: 30%;
        }
        @include d(m){
            width: 25%;
        }
    }
    .photo img {
        max-width: 400px;
        z-index: 5;
        @include d(m){
            max-width: 250px;
        }
        @include d(s2){
            max-width: 200px;
        }
        @include d(s){
            max-width: 220px;
        }
    }
    .descri{
        z-index: 3;
        display: grid;
        align-self: center;
        color: $cor-primaria;
        span{
            color: #fff;
            background: $cor-secundaria;
            font-size: 14px;
            width: 130px;
            line-height: 24px;
            padding: 8px 20px;
            border-radius: 20px 20px 0 20px;
        }
        h2{
            @include tipo-1(56);
            margin-top: 10px;
            @include d(s){
                @include tipo-1(48);
            }
        }
        h3{
            @include tipo-1(22);
            font-weight: 500;
            margin-bottom: 10px;
        }
        .mail{
            font-weight: 400;
            display: inline;
        }
        .mail img{float: left;margin-right: 2px;width: 31px;}
        .social-icons{
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(4, 40px);
            gap: 20px;
            @include d(s){
                margin-top: 30px;
            }
        }
        .social-icons img{
            max-width: 32px;
        }
        
        @include d(s){
            margin-top: 30px;
            order: 2;
        }


    }
    // .bg-intro{
    //     position: absolute;
    //     top: 0;
    //     z-index: 2;
    //     overflow: hidden;
        
    // }
    svg{
        position: absolute;
        background: #fff;
        bottom: 0;

    }

}

.title{
    @include title(36);
    font-weight: 500;
    display: inline-block;
   margin-bottom: 30px;
    &::after{
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        text-align: center;
        margin: 0 auto;
        background: $cor-secundaria;
    }
}

#sobre{
    padding: 60px;
    img{
        max-width: 450px;
    }
    p{
        margin-bottom: 20px;
    }
    span{
        font-weight: 300;
        @include tipo-1(14);
        color: $cor-primaria;
        border: 1px solid $cor-secundaria;
        padding: 2px 4 px;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    span + span{
        margin-right: 5px;
    }
}





