// Cores 
$cor-primaria: #595959;
$cor-secundaria: #97c5dd;
$dark: #343a40;

// Fontes
$fonte-1: 'Open Sans', sans-serif;


//Tipografia
@function em($pixel, $contexto: 16){
    @return $pixel / $contexto + em;
}
@mixin tipo-1($size) {
    @if $size == 16{
        font-size: em(16);
        
    }
    @else if $size == 18{
        font-size: em(18);
       
    }
    @else if $size == 24{
        font-size: em(24);
       
    }
    @else if $size == 36{
        font-size: em(36);
      
    }
    @else if $size == 48{
        font-size: em(48);
       
    }
}

// shadow
@mixin  box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -mox-box-shadow: $shadow;
    box-shadow: $shadow;
}